.home {
    display: grid;
    align-content: center;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../img/background_0.png");
    background-size: cover;
}

.textos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    color: white;
}

.titulo-home {
    font-size: 50px;
    text-align: center;
}

strong {
    color: #01fed4;
}

.slogan {
    font-size: 25px;
}

.custom-shape-divider-bottom-1719915832 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1719915832 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1719915832 .shape-fill {
    fill: #E6E6E6;
}