.home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center !important;
    height: 90vh;
    /*background: rgb(0,189,108);
    background: linear-gradient(90deg, rgba(0,189,108,1) 22%, rgba(0,155,150,1) 50%, rgba(0,127,182,1) 74%);*/
    background-image: url("../../../img/background.png");
    color: white;
}